<!DOCTYPE html>
<html>
<%- partial('partial/head') %>
  <body>
  <%- partial('partial/header') %>
  <%- partial('partial/jumbotron') %>
  <%- partial('partial/cards', {
    title: __('new'),
    items: page.posts,
  }) %>
  </body>
</html>
