<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Redirecting... | <%= page.title %> | <%= config.title %></title>
    <meta http-equiv="refresh" content="0; url=<%- url_for(page.lang + '/' + page.redirect + '.html') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  </head>
  <body>
    <p>Redirecting to <%- url_for(page.lang + '/' + page.redirect + '.html') %> ...</p>
  </body>
</html>
